###########################
# Python
###########################
**/__pycache__

###########################
# node
###########################
node_modules

###########################
# Other
###########################
.vscode/
app/supervisord.pid