###########################
# Python
###########################
**/__pycache__

###########################
# node
###########################
node_modules

###########################
# Other
###########################
.vscode/
app/supervisord.pid

###########################
# envファイル
###########################
*.env
!sample.env
!terraform-local-sample.env